.text-button.edit-button{
    margin-left: 20px;
    margin-right: 10px;
}
.text-button {
    border: none;
    background-color: inherit;
    padding: 14px 10px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    color: dodgerblue;
  }
  
  .text-button:hover {color: #3465a5;}